/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root {
  --primaryColor: rgb(25, 166, 209);
  --lightColor: #f3f3f3;
  --whiteColor: #fff;
  --darkColor: #333;
  --blackColor: #111;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font: normal 1.6rem/1.4 "Raleway", sans-serif;
  background: var(--lightColor);
  color: var(--blackColor);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* MAIN-HEADER */
.main-header {
  background: url("../img/pexels-christina-morillo-1181354.jpg") no-repeat
    center/cover;
  color: var(--whiteColor);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.425);
}

.main-header .main-header-content {
  z-index: 2;
}

.main-header .main-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.main-navbar-section-observer {
  background: var(--whiteColor);
}

.main-navbar-section-observer a {
  color: var(--blackColor) !important;
}

.main-header .main-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .main-navbar .container .navbar-toggler-icon {
  display: none;
}

.main-header .main-navbar .container a {
  color: var(--whiteColor);
  letter-spacing: 0.2rem;
}

.main-header .main-navbar .container .navbar-left-right-links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .main-navbar .container ul {
  display: flex;
}

.main-header .main-navbar .container ul li a {
  display: inline-block;
}

.main-header .main-navbar .container .navbar-left-links li {
  padding: 0.6rem;
  margin: 0 0.5rem;
}

.main-header .main-navbar .container .navbar-left-links li a:hover {
  border-bottom: 0.2rem solid var(--primaryColor);
}

.main-header .hero {
  text-align: center;
}

.main-header .hero h1 {
  animation: hero-h1 1s ease-in-out forwards;
  font-family: "Roboto Mono", monospace;
  position: relative;
  width: 100%;
  left: -1100%;
}

.main-header .hero a {
  animation: hero-links 1s ease-in-out 1s forwards;
  position: relative;
  opacity: 0;
}

@keyframes hero-h1 {
  to {
    left: 0;
  }
}

@keyframes hero-links {
  to {
    opacity: 1;
  }
}

/* MAIN MAIN */
.main-main {
  background: var(--whiteColor);
  padding: 1rem 0;
}

.main-main .container .services .services-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  grid-gap: 1rem;
}

.main-main .container .services .services-content article {
  border: 1px solid var(--lightColor);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

.main-main .container .services .services-content .services-article-header {
  display: grid;
  grid-gap: 1rem;
}

.main-main .container .services .services-content .services-article-header i {
  text-align: center;
  font-size: 5rem;
}

.main-main
  .container
  .services
  .services-content
  .services-article-header
  .fa-android,
.main-main
  .container
  .services
  .services-content
  .services-article-header
  .fa-node {
  color: green;
}
.main-main
  .container
  .services
  .services-content
  .services-article-header
  .fa-html5 {
  color: coral;
}

.main-main .container .services .services-content .services-article-header h2 {
  font-family: "Roboto Mono", monospace;
}

.main-main .container .services .services-content p {
  font-size: 1.7rem;
}

/* tablet screen */
@media (max-width: 76.8rem) {
  /* MAIN-HEADER */
  .main-header .main-navbar {
    background: var(--whiteColor);
    color: var(--blackColor);
    box-shadow: 0.2rem 0.2rem 0.2rem var(--darkColor);
  }

  .main-header .main-navbar .container a {
    color: var(--blackColor);
  }

  .main-header .main-navbar .container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  .main-header .main-navbar .container .brand-toggler-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  .main-header .main-navbar .container .navbar-toggler-icon {
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
  }

  .main-header .main-navbar .container .navbar-left-right-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 0;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
  }

  .show-navbar-links {
    height: 100vh !important;
  }

  .main-header .main-navbar .container .navbar-left-links {
    display: flex;
    flex-direction: column;
  }

  /* MAIN-MAIN */
  .main-main .container .services .services-content {
    grid-template-columns: 1fr;
  }
}
