/* 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace; */

:root {
  --primaryColor: rgb(25, 166, 209);
  --lightColor: #f3f3f3;
  --whiteColor: #fff;
  --darkColor: #333;
  --blackColor: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font: normal 1.6rem/1.4 "Raleway", sans-serif;
  background: var(--whiteColor);
  color: var(--blackColor);
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

/* navbar */
.navbar {
  border-bottom: 1px solid #ddd;
  letter-spacing: 0.2rem;
  overflow: hidden;
  z-index: 6 !important;
}

.navbar a {
  color: var(--blackColor);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .container .brand-toggler-icon-wrapper .navbar-toggler-icon {
  display: none;
}

.navbar .container .navbar-links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.navbar .container .navbar-links-wrapper ul {
  display: flex;
}

.navbar .container .navbar-links-wrapper .navbar-left-links li a {
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0.2rem;
}

.navbar .container .navbar-links-wrapper ul li:hover > a {
  border-bottom: 0.2rem solid var(--primaryColor);
}

.container {
  --maxWidth: 110rem;
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 0 1rem;
}

.active {
  background: var(--primaryColor);
}

.btn {
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  background: var(--lightColor);
  display: inline-block;
  margin: 1rem 0.5rem;
  border: none;
  color: var(--whiteColor) !important;
  outline: none;
}
.btn:hover {
  transform: scale(1.02);
}

.btn-outline-white {
  background: transparent;
  border: 1px solid var(--whiteColor);
}
.btn-outline-primary {
  background: transparent;
  border: 1px solid var(--primaryColor);
  color: var(--darkColor) !important;
}

.btn-primary {
  background: var(--primaryColor);
}

.btn-lg {
  padding: 1rem 2rem;
}

.btn-block {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 1rem 0 !important;
}

.text-primary {
  color: var(--primaryColor);
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

form {
  width: 100%;
}

.form-group {
  padding-right: 0.5rem;
}

.form-control {
  padding: 0.4rem;
  width: 100%;
  display: inline-block;
  border: 1px solid #000;
  margin: 0.5rem 0;
  border: 0.1rem solid #ccc;
  border-radius: 0.3rem;
  padding: 0.8rem 1rem;
  outline-color: var(--primaryColor);
  font-size: 1.8rem;
}

.sub-header {
  border-bottom: 0.3rem solid var(--primaryColor);
  display: inline-block;
  font-size: 2.5rem;
  color: var(--darkColor);
}

.lead {
  font-family: "Roboto Mono", monospace;
}

.fade-out-left {
  transform: translateX(-99%);
  transition: opacity, transform 0.5s ease-in-out 2s;
  opacity: 0;
}
.fade-out-right {
  transition: opacity, transform 0.5s ease-in-out 2s;
  transform: translateX(99%);
  opacity: 0;
}

.fade-out-middle {
  transition: opacity, transform 1s ease-in-out;
  transform: translateX(-99%);
  opacity: 0;
}

.fade-in {
  transform: translate(0) !important;
  opacity: 1;
}

/* TABLET SCREENS */
@media (max-width: 76.8rem) {
  /* navbar */
  .navbar .container {
    justify-content: stretch;
    flex-direction: column;
    align-items: stretch;
  }

  .navbar .container .brand-toggler-icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    z-index: 1000;
  }

  .navbar .container .brand-toggler-icon-wrapper i {
    font-size: 2rem;
    cursor: pointer;
  }

  .navbar .container .brand-toggler-icon-wrapper h2 {
    font-size: 2.3rem;
  }

  .navbar .container .brand-toggler-icon-wrapper .navbar-toggler-icon {
    display: inline-block;
  }

  .navbar .container .navbar-links-wrapper {
    justify-content: stretch;
    flex-direction: column;
    align-items: stretch;
    height: 0;
    transition: height 0.2s linear;
  }

  .show-navbar-links {
    height: 100vh !important;
  }

  .navbar .container .navbar-links-wrapper > .navbar-left-links {
    justify-content: start;
    flex-direction: column;
    align-items: start;
  }

  .navbar .container .navbar-links-wrapper .navbar-left-links li a {
    padding: 1rem 0;
    padding-right: 1rem;
    display: inline-block;
    margin: 0.2rem;
  }

  .navbar .container .navbar-links-wrapper ul li:hover > a {
    border-bottom: 0.2rem solid var(--primaryColor);
  }

  .fade-out-left,
  .fade-out-right {
    transition: opacity, transform 1s ease-in-out;
  }
}
